/*
COLORES: https://i.pinimg.com/originals/fa/cc/db/faccdbec6da64c5b11e65245dd260053.png 
$red-orange-color-wheel: #f24e1dff;
$apple-green: #80ba01ff;
$carolina-blue: #00a5efff;
$selective-yellow: #ffbb01ff;
$sonic-silver: #747474ff;
*/

/*gradientes: 
$gradient-top: linear-gradient(0deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
$gradient-right: linear-gradient(90deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
$gradient-bottom: linear-gradient(180deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
$gradient-left: linear-gradient(270deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
$gradient-top-right: linear-gradient(45deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
$gradient-bottom-right: linear-gradient(135deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
$gradient-top-left: linear-gradient(225deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
$gradient-bottom-left: linear-gradient(315deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
$gradient-radial: radial-gradient(#f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);
*/

$naranja: #f24e1dff;
$verde: #80ba01ff;
$cyan: #00a5efff;
$amarillo: #ffbb01ff;
$gris: #747474ff;
$azul-txt: #0076BA; 
$gradient-top-left: linear-gradient(225deg, #f24e1dff, #80ba01ff, #00a5efff, #ffbb01ff, #747474ff);


  